<section class="vh-100" style="background-color: #2f9e41;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-10">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form action="/usuarios" method="post">
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                  </div>
                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;"> CTq Cadastro</h5>

                  <div class="form-outline mb-4">
                    <input type="email" name="email" id="email" placeholder="exemplo@gmail.com"
                      class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example17">Email</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" name="senha" id="senha" placeholder="123456Ab#"
                      class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27">Senha</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" name="nome" placeholder="ex: IFRN" id="nome"
                      class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27">Nome/Empresa</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <input class="btn btn-dark btn-lg btn-block" type="submit" value="Cadastrar" />
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>