<footer class="text-center text-white">
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark">Adriane, Áurea, Loyse e Lucas</a>
      <img src = "./css/images/img3.png"
      alt="login" class="img-fluid" style="width: 5cm;" />
      <img src = "./css/images/img4.png"
      alt="login" class="img-fluid" style="width: 5cm;" />
    </div>
</footer>