<section class="vh-100" style="background-color: #2f9e41;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-10">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form>
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    </div>
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Solicitação de alimentos </h5>
  
                    <div class="form-outline mb-4">
                      <input type="email" id="form2Example17" placeholder="exemplo@gmail.com" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example17" >Email</label>
                    </div>
                          
                    <div class="form-outline mb-4">
                        <input type="text"  placeholder="ex: IFRN"  id="form2Example27" class="form-control form-control-lg" />
                        <label class="form-label"for="form2Example27">Nome/Empresa</label>
                      </div>

                      <div class="form-outline mb-4">
                        <input type="number" placeholder="ex: Queijo, Doce de Leite, Iorgute" id="form2Example17" class="form-control form-control-lg" />
                        <label class="form-label" for="form2Example17">Produto</label>
                      </div>
                       
                    <div class="form-outline mb-4">
                        <input type="number" placeholder="ex: 01" id="form2Example17" class="form-control form-control-lg" />
                        <label class="form-label" for="form2Example17">Quantidade</label>
                      </div>

                      <div class="form-row">
                        <div class="col-md-6 mb-3">
                          <label for="validationCustom03">Cidade</label>
                          <input type="text" class="form-control" id="validationCustom03" placeholder="Cidade" required>
                          <div class="invalid-feedback">
                            Por favor, informe uma cidade válida.
                          </div>
                        </div>

                        <div class="col-md-3 mb-3">
                          <label for="validationCustom04">Estado</label>
                          <input type="text" class="form-control" id="validationCustom04" placeholder="Estado" required>
                          <div class="invalid-feedback">
                            Por favor, informe um estado válido.
                          </div>
                        </div>
                        <div class="col-md-3 mb-3">
                          <label for="validationCustom05">CEP</label>
                          <input type="text" class="form-control" id="validationCustom05" placeholder="CEP" required>
                          <div class="invalid-feedback">
                            Por favor, informe um CEP válido.
                          </div>
                        </div>
                        
                      <div class="form-row">
                        <div class="col-md-6 mb-3">
                          <label for="validationCustom03">Endereço</label>
                          <input type="text" class="form-control" id="validationCustom03" placeholder="Rua, N°" required>
                          <div class="invalid-feedback">
                          </div>
                        </div>

                      </div>
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="button">Enviar</button>
                    </div>

                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>