<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head'); %>
    <title>CTq- Cadastro </title>
    
</head>

<body>
  <main>
          <!-- Section: Design Block -->
    <section class="text-center">
      <!-- Background image -->
      <div class="p-5 bg-image" style="
            background-color: green;
            height: 300px;
            "></div>

      <div class="card mx-4 mx-md-5 shadow-5-strong" style="
            margin-top: -100px;
            background: hsla(0, 0%, 100%, 0.8);
            backdrop-filter: green (30px);
            ">
        <div class="card-body py-5 px-md-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <h2 class="fw-bold mb-5">Seja Bem vindo Administrador</h2>  
              
              <h5 class="fw-normal mb-3 pb-3" style="align-items: center;"> Bom trabalho!</h5>
              <div class="pt-1 mb-4"></div>
                
                <a class="btn btn-dark btn-lg btn-block" type="submit" value="Pedidos" href="/pedidos">Novos Pedidos</a>
                <a class="btn btn-dark btn-lg btn-block" type="submit" value="Pedidos" href="/relatorio">Relatorio</a>
                <a class="btn btn-dark btn-lg btn-block" type="submit" value="Pedidos" href="/agenda">Agenda</a>
              </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
    <floote>
      <%- include('../partials/footer'); %>
    </floote>
</body>
</html>
