<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head'); %>
    <title>CTq- Cadastro </title>
    
</head>

<body>
    <main>
        <%- include('../partials/cadastro'); %>
    </main>
</body>
</html>
