<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head'); %>
    <title>CTq- Página Inicial</title>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <section>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="./css/images/img5.jpg" class="d-block w-100" height="500" width="300" alt="img1">
                  </div>
                  <div class="carousel-item">
                    <img src="./css/images/img6.jpg" class="d-block w-100" height="500" width="300" alt="img2">
                  </div>
                  <div class="carousel-item">
                    <img src="./css/images/img7.jpg" class="d-block w-100" height="500" width="300" alt="img3">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </section>
            <section>
              <div class="container">
                  <div class="row">
                    <div class="col-sm-12 text-dark text-center my-3">
                      <h1>Nossos produtos</h1>
                    </div>
          
                  <div>
                      <div class="row">
                          <div class="col-sm-4">
                              <div class="card" style="width: 18rem;">
                                <img src="./css/images/img2.jpg" class="card-img-top">
                                <div class="card-body">
                                  <h5 class="card-title">Doce de leite</h5>
                                  <p class="card-text">O doce de leite do CTq conquistou o primeiro lugar na categoria "Doce de Leite"
                                    do Concurso Doces Premiados do Seridó, que ocorreu durante o 1º Encontro de Doceiras do Seridó, nos dias
                                    27 e 28 de setembro, na cidade de Caicó. </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="card" style="width: 18rem;">
                                  <img src="./css/images/img1.jpg" class="card-img-top">
                                  <div class="card-body">
                                    <h5 class="card-title">Queijos</h5>
                                    <p class="card-text">Descrição da qualidade do queijo</p>
                                  </div>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="card" style="width: 18rem;">
                                  <img src="./css/images/img8.jpg" class="card-img-top">
                                  <div class="card-body">
                                    <h5 class="card-title">Iogurte</h5>
                                    <p class="card-text">Descrição da qualidade do Iogurte</p>
                                  </div>
                                </div>
                            </div>
                      </div>
                  </div>
          
          
          
              </div>
          
            </section>
     </main>

    <floote>
        <%- include('../partials/footer'); %>
    </floote>
</body>
</html>