<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head'); %>
    <title>CTq- Login</title>   
</head>

<body>
    <main>
       <%- include('../partials/login'); %>
    </main>
</body>
</html>