<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head'); %>
    <title>CT-Queijos- LoginAdm</title>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <%- include('../partials/loginadm'); %>
     </main>

    <floote>
        <%- include('../partials/foote'); %>
    </floote>
</body>
</html>